body {

    background-image: url(https://images.unsplash.com/photo-1562375121-ea1bc3e8fc10?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDM0fHx8ZW58MHx8fHx8);
    background-size: cover;
}
.cx-usuario{
    resize: none;
    margin: 20px;
    border-radius: 20px;
    width: 250px;
}

.cx-senha {
    resize: none;
    mar: 20px;
    border-radius: 20px;
    
    
    
}

h1{
    color: antiquewhite;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.caixa {

    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: 400px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur (15px);
    border: 1px solid rgba (255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba( 0, 0, 0, 0.4);
    z-index: 10;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    }

    button {
       
        border-radius: 10px;
        width: 100px;
        cursor: pointer;
        height: 25px;
        margin-top: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    